*
{
    --standard-spacing: 5rem;
}

img
{
    border-radius: 20px;
}

.c-title,
.c-title h1
{
    position: relative;
    font-size: 44px;
    width: fit-content;
}

.c-title h2
{
    margin-top: var(--standard-spacing);
    font-size: 38px;
    position: relative;
}

.c-title h3::before,
h3.c-title::before
{
    content: '';
    position: absolute;
    height: 5px;
    width: 30px;
    background-color: #192235;
    top: 22px;
    left: -37px;
}

.c-title h3
{
    margin-top: var(--standard-spacing);
    font-size: 32px;
}

.c-span
{
    color: var(--primary);
    font-size: 30px;
}

.c-content p,
.c-content
{
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
}

.c-content--centered p,
.c-content--centered,
.c-span--centered,
.c-title--centered
{
    text-align: center;
    justify-items: center;
    justify-self: center;
}

.c-span--spacer
{
    font-size: 25px;
}

.c-title--main,
.c-title--main h1
{
    color: var(--white);
    font-size: 82px;
    line-height: 1;
    margin-bottom: 45px;
    margin-top: 16vw;
}

.c-title--sub-main
{
    color: var(--white);
    font-size: 44px;
    line-height: 1;
    margin-bottom: 45px;
    font-weight: 200;

}

.c-title--main h1
{
    font-weight: 500;

}

.c-spacing
{
    margin-top: var(--standard-spacing);
}

.c-bold
{
  font-weight: 600;
}

@media screen and (max-width: 600px) {
    .c-title--main
    {
        font-size: 60px;
    }
    .c-title--sub-main
    {
        font-size: 35px;
        font-weight: 200;
    }
}

/*Flex*/

.c-flex
{
    display: flex;
}

.c-flex--row
{
    @extend .c-flex;
    flex-direction: row;
}

.c-flex--row-responsive
{
    @extend .c-flex;
    flex-direction: row;
}

.c-flex--row-r-responsive
{
    @extend .c-flex;
    flex-direction: row;
}

.c-flex--col
{
    @extend .c-flex;
    flex-direction: column;
}

.c-flex--col-r
{
    @extend .c-flex;
    flex-direction: column-reverse;
}

.nowrap
{
    flex-wrap: nowrap;
}

// Génère .g-10, .g-20, ..., .g-100
@for $i from 1 through 10 {
  .g-#{$i * 10} {
    gap: #{$i * 10}px;
  }
}

.w50
{
    width: 50%;
}

.w50r
{
    width: 50%;
}

/* Smartphones en mode Portrait (max 480px) */
@media screen and (max-width: 780px) {
    .w50r
    {
        width: 100%;
    }

    .c-flex--row-responsive
    {
        @extend .c-flex;
        flex-direction: column;
    }

    .c-flex--row-r-responsive
    {
        @extend .c-flex;
        flex-direction: column-reverse;
    }
}