:root {
    --primary: #9DD240;
    --secondary: #02aba9;
    --tertiary: #F2D067;

    --background: #b8d389;

    --brown: #945534;
    --black: #221f1f;
    --white: #DCDCDC;
    --grey: #838383;
}