{% extends 'base.html.twig' %}

{% block body %}
    <div id="react-leaderboard-root" 
         data-users="{{ usersRang|json_encode }}"
         data-equipes="{{ equipesRang|json_encode }}">
    </div>
{% endblock %}