.home__hero::before
{
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url(../../../images/fond-par-defaut.png);
    background-size: cover;

    z-index: -1;
}

.home__hero
{
    height: 100vh;
    overflow: hidden;
}

.home__image img
{
    width: stretch;
}

.home__content
{
    align-content: center;
}

@for $i from 1 through 10 {
  $value: $i * 10;

  .spacing-#{$value} {
    height: #{$value}px;
  }
}