@import "../variables";

@for $i from 1 through 10 {
    $value: $i * 10;
    .spacing-#{$value} {
        height: #{$value}px;
    }
}

.home__image img
{
    width: stretch;
}


// Team display
.team
{
    --team-color:#bbb;
    margin: 50px 0;
    padding: 30px;
    border-top: var(--team-color) 1px solid;
    border-bottom: var(--team-color) 1px solid;
}

.team__icon {
    width: 70px;
    height: 70px;
    display: grid;         
    place-content: center;
    text-align: center;
    border-radius: 100px;
    font-size: 33px;
    font-weight: 600;
    color: white;
    background: none;      

    &.blue {
        background: linear-gradient(170deg, #17A4A4 0%, #0D8484 100%);
    }

    &.green {
        background: linear-gradient(170deg, #6DBE63 0%, #98D14B 100%);
    }

    &.orange {
        background: linear-gradient(170deg, #F29F23 0%, #db8834 100%);
    }
}

.team--container
{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.team--row
{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-self: center;
}

.team--box
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 300px;
    background: white;
    padding: 27px;
    border-radius: 16px;
    height: 245px;
    width: 409px;
}

.team--box span
{
    color: black;
}

.team__span
{
    background-color: #E8F7F7;
    color: #23AEAD !important;
    padding: 3px 6px;
    border-radius: 15px;
}

.team--box svg
{
    width: 100px;
    height: auto;
}

// Ariane display
.ariane
{
    text-align: center;
    height: 350px;
    align-content: center;
    justify-self: center;
    background: linear-gradient(270deg,var(--primary) 0%, var(--secondary) 100%);
    width: 100%;
    gap: 10px;
}

.ariane span
{
    font-size: 18px;
    padding: 3px 20px 7px 20px;
    background-color: rgb(255 255 255 / 16%);
    border-radius: 100px;
    color: var(--white);
    border: var(--white) 1px solid;
}

.ariane h1
{
    font-weight: 500;
    color: var(--white);
    font-size: 50px;
}

.ariane .c-title
{
    place-self: center;
    
}

.ariane .c-content 
{
    padding: 0;
    color: var(--white);
}

.ariane--path
{
    position: relative;
    margin-bottom: 20px;
}

// center content display

.cc
{
    text-align: center;
}