{% extends 'base.html.twig' %}

{% block body %}
    <div id="react-dashboard-root" 
         data-user="{{ userDt|json_encode }}"
         data-defis="{{ defis|json_encode }}"
         data-equipe="{{ equipe|json_encode }}"
         data-scores="{{ scores|json_encode }}">
    </div>
{% endblock %}